{% extends "base_user.html" %}

{% block heading %} <i class="fas fa-user-times"></i> Delete User{% endblock %}
{% block form_action %}{{ url_for('delete_user') }}{% endblock %}
{% block button_text %}Delete User{% endblock %}

{% block form_fields %}
    <div class="input-container">
        <i class="fas fa-id-card"></i>
        <input type="text" name="std_id" placeholder="Enter Student ID" required>
    </div>

    <div class="input-container">
        <i class="fas fa-user"></i>
        <input type="text" name="username" placeholder="Enter Username" required>
    </div>

{% endblock %} 
